{% extends "base.html" %}

{% block content %}

<h2>Image Gallery!</h2>

<div id="imageGallery">
</div>
<script type="text/javascript">
    $.post("image_count",
         function(count) { 
            count = parseInt(count);
            for (var i = count; i >= 1; i--) {
                $("#imageGallery").append("<div style='padding-top:10px'>" + 
                    "<img width='300' height='300' src='image_raw?index=" + i + "' /></div>");
            }
         }
    );
</script>

{% endblock %}
